.subheading {
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
	font-size:30px;
}

#content {
	width:1200px;
	background:rgba(255, 255, 255, 0.7);
	margin:0 auto;
	padding-bottom:20px;
	margin-bottom:100px;
}

#infotable_container {
	position:relative;
	height:320px;
	background:#ccc;
	box-shadow:0 0 10px #000;
	margin-bottom:10px;
}

#sender_info {
	position:absolute;
	top:10px;
	left:30px;
}

#transaction_info {
	position:absolute;
	top:10px;
	right:0;
	left:0;
	width:300px;
	margin:0 auto;
}

#recipient_info {
	position:absolute;
	top:10px;
	right:30px;
}

.infotable th {
	text-align:center;
	font-size:22px;
	padding-bottom:5px;
	font-weight:normal;
	font-style:italic;
}

.infotable {
}

.infotable input[type="text"] {
	width:120px;
	font-size:15px;
	padding:3px;
	background:#fff;
	border:1px solid #000;
}

.infotable select, #n_transactions {
	width:128px;
	padding:1px;
	font-size:13px;
	padding:3px;
	border:1px solid #000;
	background:#fff;
}

.infotable input[type="checkbox"] {
	transform: scale(1.2);
	-webkit-transform: scale(1.5);
}

.infotable .qrid_scan {
	background:transparent;
	border:1px solid #666;
	border-radius:2px;
	font-weight:bold;
	font-style:italic;
	padding:1px 13px;
	cursor:pointer;
	transition:background 0.1s;
}

.infotable .qrid_scan:hover {
	background:#ddd;
}

.infotable .qrid_scan:active {
	background:#fff;
}

#query {
	position:absolute;
	right:34px;
	bottom:20px;
	font-size:20px;
	padding:6px 14px;
	border:1px solid #666;
	border-radius:4px;
	background:transparent;
	cursor:pointer;
	transition:background 0.1s;
}

#query:hover {
	background:#ddd;
}

#query:active {
	background:#fff;
}

#n_transactions_desc {
	position:absolute;
	right:150px;
	bottom:50px;
	width:103px;
	font-size:16px;
	font-style:italic;
}

#n_transactions {
	position:absolute;
	right:175px;
	bottom:20px;
	width:103px;
}

/*** Transactions table ***/
#transactions_container {
	text-align:center;
}

#transactions {
	display:inline-block;
	border-collapse:collapse;
}

#transactions th {
	background:#fff;
	padding:3px 14px;
	border:1px solid #666;
}

#transactions td {
	padding:3px 14px;
	border:1px solid #666;
}

#transactions td.lalign {
	text-align:left;
}

#transactions td.num {
	text-align:right;
	padding-right:5px;
	font-family:Monospace;
	font-size:15px;
}

#transactions .showcomment, #transactions .delete {
	color:#33a;
	cursor:pointer;
	font-weight:bold;
}

#transactions .showcomment:hover,  #transactions .delete:hover {
	color:#00f;
}

/*** Comment preview ***/
#comment_preview {
	width:400px;
	height:180px;
	background:rgba(230, 230, 230, 0.9);
	position:relative;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
	border:1px solid #777;
	box-shadow:0 0 4px #000;
	border-radius:5px;
}

#comment_preview_heading {
	font-size:40px;
}

#comment_preview_ok {
	position:absolute;
	left:0;
	right:0;
	width:60px;
	bottom:10px;
	margin:auto;
	background:transparent;
	font-size:18px;
	border:1px solid #fff;
	padding:3px 15px;
	border-radius:4px;
	cursor:pointer;
	transition:background 0.1s;
	outline:none;
}

#comment_preview_ok:hover {
	background:#ddd;
}

#comment_preview_ok:active {
	background:#fff;
}

#comment_preview_ok::-moz-focus-inner {
	border:none;
}

#comment_text {
	width:90%;
	overflow:auto;
	margin:0 auto;
	background:#fff;
	height:45%;
	border:1px solid #666;
}

/*** Statistics ***/
#stats_container {
	text-align:center;
}

#stats {
	display:inline-block;
	border-collapse:collapse;
	border:1px solid #666;
}

#stats td, #stats th {
	padding:4px 12px;
	border-bottom:1px dashed #666;
}

#stats tr:last-child td, #stats tr:last-child th {
	border-bottom:none;
}

#stats th {
	text-align:right;
}

#stats td {
	font-family:Monospace;
	font-size:18px;
	text-align:right;
}

/*** Master certificate bar ***/
#master_cert_container {
	position:fixed;
	bottom:0;
	left:0;
	height:40px;
	width:100%;
	background:rgba(40, 50, 140, 0.5);
	text-align:center;
	color:#fff;
	padding-top:5px;
	font-size:17px;
	font-weight:bold;
}

#master_cert_input {
	font-size:17px;
	border: 1px dashed #ccc;
	background:rgba(100, 100, 100, 0.5);
	padding:3px;
}
