#content {
	width:600px;
	height:730px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	padding:50px 0;
}

#preheading {
	text-align:center;
	font-size:30px;
	margin-top:15px;
	color:#fff;	
}

#heading {
	text-align:center;
	font-size:70px;
	margin-bottom:20px;
	color:#fff;
}

#euflag-background {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:-1;
	height:100%;
	opacity:0.15;
}

a {
	margin-top:8px;
	display:block;
	text-align:center;
	font-size:40px;
	padding:15px;
	background:transparent;
	border:1px solid #fff;
	border-radius:4px;
	text-decoration:none;
	color:#fff;
	transition:background 0.5s;
}

a:hover {
	transition:background 0.5s;
	box-shadow:0 0 4px #fff;
	background-color:rgba(0, 0, 0, 0.9);
}
