body {
	color:#fff;
	font-size:8vw;
	background:#000;
}

.attrbox {
	margin-bottom:5vw;
	text-align:center;
}

.auth_text {
	text-align:center;
	font-size:5vw;
	margin:1.5vw;
}

#qrid, #password {
	width:90vw;
	font-size:6vw;
	padding:1vw;
	background:#fff;
	border:none;
}
