body {
	color:#fff;
	font-size:8vw;
	background:#000;
}

#qrid, #password {
	width:100%;
	font-size:5vw;
	background:#fff;
	border:none;
}

#scanner_popup {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
}

#scanner_abort {
	width:100%;
	background:#000;
	border:2px solid #fff;
	font-size:7vw;
	color:#fff;
	border-radius:4px;
}

/*
input {
	font-size:5vw;
}
