html {
	font-family:Arial;
	background-color: black;
	color: white;
	height: 100%;
}

.bigbutton {
	text-decoration: none;
	color: yellow;
	font-size: 7vw;
	background-color: green;
	border-radius: 1vw;
	border-style: solid;
	border-color: yellow;
	border-width: 0.5vw;
	display: block;
	text-align: center;
	width: auto;
	width:90vw;
	margin:auto;
	margin-bottom:1.5vw;
}

a.mainlinks {
	text-decoration: none;
	color: yellow;
	font-size: 7vw;
	background-color: green;
	border-radius: 5px;
	border-style: solid;
	border-color: yellow;
	border-width: 0.6vw;
	display: block;
	text-align: center;
	width:90vw;
	margin:auto;
	margin-top:1.5vw;
}

.mainheadline {
	padding-top:0.6vw;
	color: yellow;
	font-size: 9vw;
	text-align: center;
}

.halfsizelink {	
	text-decoration: none;
	color: yellow;
	font-size: 9vw;
	background-color: green;
	border-radius: 1vw;
	border-style: solid;
	border-color: yellow;
	border-width: 0.6vw;
	display: inline-block;
	text-align: center;
	width: 43vw;
	margin-top:1.5vw;
}

a.halfsize_small {
	text-decoration: none;
	color: yellow;
	font-size: 7vw;
	background-color: green;
	border-radius: 1vw;
	border-style: solid;
	border-color: yellow;
	border-width: 0.6vw;
	display: block;
	text-align: center;
	width: 35vw;
	height: auto;
	float: right;
	padding: 0.4vw;
}

input.halfsize_small {
	text-decoration: none;
	color: yellow;
	font-size: 7vw;
	background-color: green;
	border-radius: 1vw;
	border-style: solid;
	border-color: yellow;
	border-width: 0.6vw;
	display: block;
	text-align: center;
	width: auto;
	height: auto;
	float: right;
}

.seperation {
	background-color: #555;
	width: 90vw;
	border-radius: 1vw;
	padding: 2vw;
	padding-bottom: 1.5vw;
	margin: auto;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	font-size: 5vw;
	left: 0;
	right: 0;
}

#loading {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	height: 8vw;
	width: 80vw;
	font-size: 8vw;
	text-align: center;
}

/*** Error Message ***/
#error {
	z-index:3;
	position:relative;
	width:80vw;
	height:50vw;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background-image:-webkit-linear-gradient(top, rgba(255,180,180,0.9), rgba(255,100,100,0.9));
	background-image:-moz-linear-gradient(top, rgba(255,180,180,0.9), rgba(255,100,100,0.9));
	border-radius:4px;
	border:1px solid #833;
}

#error_heading {
	color:#000;
	font-size:10.0vw;
	text-align:center;
}

#error_ok {
	position:absolute;
	bottom:1vw;
	left:0;
	right:0;
	margin:auto;
	width:100px;
	font-size:7vw;
	border:1px solid #555;
	border-radius:4px;
	color:#fff;
	background:rgba(100, 100, 100, 0.5);
	cursor:pointer;
	transition:background 0.3s;
}

#error_ok:hover {
	transition:background 0.3s;
	background:#666;
}

#error_message {
	text-align:center;
	color:black;
	font-size:5vw;
}

/*** Confirm Window ***/
#confirm_window {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
}

#confirm_window_padding {
	padding:12vw;
	padding-top:15vw;
}

.confirm_subsection {
	font-size:8vw;
	color:yellow;
}

.confirm_text {
	margin-top:1vw;
	margin-bottom:6vw;
	font-size:4.5vw;
	font-style:italic;
	width:100%;
	overflow:hidden;
}

/*** Success Window ***/
#success {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	font-style:italic;
	font-size:11vw;
}

#success_text {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	height:25vw;
	text-align:center;
}

#success_bottom {
	position:absolute;
	height:30vw;
	bottom:0;
	width:100vw;
}
