html { 
	background-color: black;
	color: white;
	height: 100%;
}

body {
	height: 95%;
}

#logo {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

button.bigbutton {
	width: 90%;
	margin: 15px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 8vw;
	background-color: green;
	color: yellow;
	border: solid;
	border-radius: 7px;
}

a.mainlinks {
	text-decoration: none;
	color: yellow;
	font-size: 7vw;
	background-color: green;
	border-radius: 5px;
	border-style: solid;
	border-color: yellow;
	border-width: 3px;
	display: block;
	text-align: center;
	width: auto;
}

div.border {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: auto;
}

h1.mainheadline {
	color: yellow;
	font-size: 30px;
	text-align: center;
}

div.mainheadline{
	height: 7%;
	padding-bottom: 1px;
}

a.halfsizelink {	
	text-decoration: none;
	color: yellow;
	font-size: 30px;
	background-color: green;
	border-radius: 5px;
	border-style: solid;
	border-color: yellow;
	border-width: 3px;
	display: inline-block;
	text-align: center;
	width: 45%;
}

#statusbar {
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#qrid {
	display: inline-block;
	float: right;
}
