img {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	animation: rotation 3s linear infinite;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

h1 {
	color: yellow;
	text-align: center;
	animation: fade_in 1s;
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

body { 
	background-color: black;
}
