#statement_container {
	width:80vw;
	margin:0 auto;
	margin-top:5vw;
}

#explanation {
	font-size:7vw;
}

#statement {
	padding:3vw;
}

#statement .entry {
	border:1px solid #222;
	padding:3vw;
	border-radius:5px;
	margin-top:2vw;
	box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5);
	font-size:5vw;
}

#statement .entry.outgoing {
	background:rgba(200, 50, 0, 0.3);
}

#statement .entry.incoming {
	background:rgba(0, 200, 50, 0.3);
}

#statement .entry .amount {
	text-align:right;
	font-family:Monospace;
	margin-top:-2vw;
}

h3 {
	color: yellow;
	text-align: center;
	font-size: 7vw;
}

#balance {
	margin:0 auto;
	width:100%;
	font-size:10vw;
	margin-top:3vw;
	padding-top:3vw;
	border-top:0.7vw solid #fff;
	text-align:center;
}

#nostatement {
	display:none;
}
