/** Section **/
.section {
	margin:0 auto;
	margin-bottom:8vw;
	background-color:rgba(0, 0, 0, 0.4);
	box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5);
	text-align:center;
	padding:3vw;
}

.section_heading {
	font-size:8vw;
}

.section_heading_description {
	font-size:4.2vw;
}

.section .button {
	margin:0 auto;
	font-size:5vw;
	line-height:5vw;
	padding:3vw 4vw;
}

/** Subsections **/
.subsection {
	padding:2vw;
	margin:2vw 0;
	border:2px solid #888;
}

.subsection_heading {
	font-size:6vw;
}

.subsection:not(.hidden) .subsection_heading {
	margin-bottom:5vw;
}

.subsection:not(.hidden) {
	padding-bottom:5vw;
}

.subsection.hidden:active {
	background-color:rgba(255, 255, 255, 0.2);
}

/** QR Code Scanning **/
#scanbutton {
	font-size:6vw;
	margin:0 auto;
	background:#eaff;
	border:1px solid #aaa;
	border-radius:1vw;
}

#scanbutton img {
	width:30vw;
}

#scan_result {
	font-size:8vw;
	font-family:Monospace;
}

/** Passwor field **/
#password {
	width:60vw;
	margin-top:3vw;
	text-align:center;
}

/** Input fields **/
.section input[type="text"], .section input[type="number"], .section input[type="password"], textarea {
	background:transparent;
	font-size:5vw;
	border:2px solid #aaa;
	margin-bottom:2vw;
	padding:2vw;
	color:#fff;
	border-radius:1vw;
}

.section input[type="text"]:focus, .section input[type="number"]:focus, .section input[type="password"]:focus,
		textarea:focus {
	background:#555;
}



/** Amount entry **/
.amount_section {
	position:relative;
	height:25vw;
}

.amount_container {
	padding:3vw;
	height:11vw;
	display:inline-block;
	width:70vw;
	margin:auto;
}

#amount {
	-moz-appearance:textfield;
	text-align:right;
	width:50vw;
	float:left;
}

.amount_container .hgc {
	margin:0.5vw;
	height:10vw;
}

#amount::-webkit-inner-spin-button, #amount::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

/*** Confirm Window ***/
#confirm_window {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
}

#confirm_window_padding {
	padding:12vw;
	padding-top:15vw;
}

.confirm_subsection {
	font-size:8.5vw;
	color:yellow;
}

.confirm_text {
	margin-top:1vw;
	margin-bottom:6vw;
	font-size:5vw;
	font-style:italic;
	width:100%;
	overflow:hidden;
}

/*** Success Window ***/
#success {
	z-index:2;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	font-style:italic;
	font-size:11vw;
}

#success_text {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	height:25vw;
	text-align:center;
}

#success_bottom {
	position:absolute;
	height:40vw;
	bottom:0;
	width:100vw;
}

/** Comment **/
#comment {
	margin-top:3vw;
	font-size:4vw;
	width:80vw;
	height:40vw;
	resize:none;
}
