.transaction_button {
	width:80vw;
	margin:3vw auto;
	display:block;
	text-decoration:none;
	font-size:6vw;
	color:#fff;
	box-shadow:1vw inset #fff;
	border:1px solid #aaa;
	border-radius:2vw;
	text-align:center;
	padding:4vw;
	background-color:rgba(0, 0, 0, 0.3);
	box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.transaction_button:active {
	box-shadow:none;
	background-color:transparent;
}

.transaction_button img {
	margin-top:3vw;
	width:50vw;
}
