[submodule "client/adminpanel/site/QRScanJS"]
	path = client/adminpanel/site/QRScanJS
	url = https://github.com/Jeija/QRScanJS.git
[submodule "client/entrycheck/www/QRScanJS"]
	path = client/entrycheck/www/QRScanJS
	url = https://github.com/Jeija/QRScanJS.git
[submodule "client/app/www/QRScanJS"]
	path = client/app/www/QRScanJS
	url = https://github.com/Jeija/QRScanJS
[submodule "client/business/site/QRScanJS"]
	path = client/business/site/QRScanJS
	url = https://github.com/Jeija/QRScanJS
