# Ignore backup copies ending with ~
*~

# Don't publish hashes or certificates
# init.sh generates a set of certificates and hashes for you
# Also, don't publish RSA public / private keys
cert/
*.pem

# Don't upload backend / frontend dependenices
bower_components/
node_modules/

# Ignored working / output directories
/client/app/build
/client/app/hooks
/client/app/platforms
/client/app/plugins/*.json
/client/app/.cordova

# Terminal ISO: Publish PKGBUILDs and build scripts, no prebuilt packages and binaries
/client/terminaliso/iso/work
/client/terminaliso/iso/out
/client/terminaliso/iso/pacman.schulealsstaat.conf
/client/terminaliso/repo
/client/terminaliso/packages/*/*
!/client/terminaliso/packages/*/PKGBUILD
!/client/terminaliso/packages/*/*.install

# Don't publish pre-built dlpackages or PGP keys
/client/terminaliso/iso/airootfs/root/packetkey.pub
/client/terminaliso/dlpackage/dlrepo/*
!/client/terminaliso/dlpackage/dlrepo/list

# Only publish some files once in */common/, prepare.sh will copy it to all appropriate places
api.js
!/client/common/api.js
logging.js
cert.js
!/server/common/logging.js
!/server/common/cert.js
