/* Section */
.section {
	width:100%;
	overflow:auto;
	text-align:center;
	clear:both;
}

.section_heading {
	font-size:40px;
	color:#fff;
	margin-bottom:10px;
}

hr {
	color:#000;
	border:0;
	height:1px;
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(200,200,200,0.75), rgba(0,0,0,0));
	margin-top:2vw;
}

/* Subsection */
.by_qr, .by_name, .by_qrid, .or {
	height:13vw;
	float:left;
}

.by_qr, .by_name, .by_qrid {
	width:25%;
}

.by_qr {
	background:#cff;
	margin-left:calc((100% - 91%) / 2);
}

.by_name {
	background:#ffc;
}

.by_qrid {
	background:#fcf;
}

.or {
	color:#fff;
	font-style:italic;
	line-height:13vw;
	font-size:18px;
	width:8%;
}

.subsection_heading {
	font-size:2vw;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:0.5vw;
	width:100%;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.1);
}

/* QR Code Scan Subsection */

.qrcode_scan {
	display:inline-block;
	padding:2px;
	background:rgba(255, 255, 255, 0.3);
	border:1px solid #aaa;
	cursor:pointer;
	border-radius:3px;
	transition:background 0.2s;
}

.qrcode_scan:hover {
	background:#fff;
	border-color:#fff;
	transition:background 0.2s;
	transition:border-color 0.2s;
}

.qrcode_scan:active {
	transition:border-color 0.2s;
	border:3px solid #000;
	padding:0;
}

.qrcode_scan img {
	width:7.3vw;
	margin:0.5vw;
}

/* Name Subsection */
.name_table {
	display:inline;
	font-size:1vw;
	border-collapse:collapse;
}

.name_table td {
	padding:0.2vw 0.4vw;
}

.firstname, .lastname {
	width:11vw;
	height:1.8vw;
	font-size:1.2vw;
	padding:0.2vw;
	border:1px solid #ccc;
	background:rgba(0, 0, 0, 0);
	border-radius:3px;
	transition:background 0.3s linear;
}

.firstname:hover, .lastname:hover {
	transition:background 0.3s linear;
	background:#fff;
}

.firstname:focus, .lastname:focus {
	transition:background 0.3s linear;
	background:#fff;
}

.name_ok {
	margin-top:0.5vw;
	width:5vw;
	height:2vw;
	font-size:1vw;
	padding:0.1vw;
	border:1px solid #ccc;
	background:rgba(0, 0, 0, 0);
	border-radius:3px;
	cursor:pointer;
	transition:background 0.3s linear;
	padding:1px;
}

.name_ok:hover {
	background:rgba(200, 200, 200, 0.8);
	transition:background 0.3s linear;
}

.name_ok:active {
	padding:0;
	border:2px solid #aaa;
}

.qrid_explanation {
	display:inline-block;
	width:10vw;
	padding:0.5vw;
	border:1px solid #ccc;
	font-size:0.6vw;
	border-radius:5px;
	background:#fff;
}

/* QR-ID subsection */
.qrid_explanation img {
	width:4vw;
	margin:0.2vw;
}

.qrid_exp_nr {
	border:1px solid #f00;
	padding:0.1vw 0.4vw;
	border-radius:3px;
}

.qrid {
	float:left;
	width:60%;
	margin-right:5%;
	margin-top:0.2vw;
	height:1.6vw;
	font-size:1vw;
}

.qrid_ok {
	width:35%;
	float:left;
	height:2vw;
	font-size:1vw;
	padding:0.1vw;
	background:rgba(0, 0, 0, 0);
	border:1px solid #ccc;
	border-radius:3px;
	cursor:pointer;
}

.qrid_container {
	margin:0 auto;
	width:11vw;
	padding:0.2vw;
}

.qrid_ok:hover {
	background:rgba(200, 200, 200, 0.8);
	transition:background 0.3s linear;
}

.qrid_ok:active {
	padding:0;
	border:2px solid #aaa;
}

/* Amount Section */
.amount_container {
	position:relative;
	height:6vw;
	box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.2);
	background:#4d4d4d;
	border-radius:5px;
}

.amount {
	width:20vw;
	height:4vw;
	padding:0.5vw;
	background:rgba(0, 0, 0, 0);
	border-radius:3px;
	border:1px solid #ccc;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:24.5vw;
	font-size:2vw;
	text-align:right;
	color:#fff;
	transition:background 0.5s linear;
}

.amount:hover {
	background:#5a5a5a;
	transition:background 0.5s linear;
}

.amount:focus {
	background:#5a5a5a;
	transition:background 0.5s linear;
}

.hgc_logo_amount {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	height:4.5vw;
	float:left;
	right:24.5vw;
}

/* Comment section */
.comment_container {
	position:relative;
	height:27vw;
	box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.2);
	background:#4d4d4d;
	border-radius:5px;
}

.comment {
	width:50vw;
	height:20vw;
	padding:0.5vw;
	background:rgba(0, 0, 0, 0);
	border-radius:3px;
	border:1px solid #ccc;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:12.5vw;
	font-size:1.5vw;
	color:#fff;
	transition:background 0.5s linear;
}

.comment:hover {
	background:#5a5a5a;
	transition:background 0.5s linear;
}

.comment:focus {
	background:#5a5a5a;
	transition:background 0.5s linear;
}

.comment_info {
	position:absolute;
	bottom:1.6vw;
	right:11.8vw;
	color:#fff;
	font-style:italic;
	font-size:1.2vw;
}


/* Confirmation button */

.confirm {
	margin-top:2vw;
	font-size:1.5vw;
	color:#fff;
	padding:calc(1vw + 2px) calc(3vw + 2px);
	background:rgba(0, 0, 0, 0);
	border:1px solid #ccc;
	border-radius:3px;
	font-weight:bold;
	cursor:pointer;
}

.confirm:hover {
	background:#777;
}

.confirm:active {
	padding:1vw 3vw;
	border:3px solid #aaa;
}
