<?xml version='1.0' encoding='utf-8'?>
<widget id="org.schulealsstaat.hoegycoin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>HöGyCoin</name>
	<description>
		Die offizielle HöGyCoin-App
	</description>
	<author email="-" href="hoegy.de">
		HöGyCoin Zentralbank
	</author>
	<preference name="orientation" value="portrait" />
	<content src="index.html" />
	<access origin="*" />

	<!-- Plugins -->
	<feature name="BarcodeScanner">
		<param name="id" value="com.phonegap.plugins.barcodescanner" />
	</feature>
	<icon src="icon128.png" />
</widget>
