body {
	font-family:Arial;
	background:#bbb;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

#webcam {
	background-color:#000;
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	width:400px;
	height:300px;
}

#webcam_shot {
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	background:#000;
	width:400px;
	height:300px;
}

#webcam_container {
	display:inline-block;
	position:relative;
	background-color:#999;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

#webcam_container #webcam_half {
	position:relative;
	display:inline-block;
}

#webcam_container #webcam_half h3 {
	font-size:30px;
	margin:10px 0;
}

#webcam_container #webcam_half #webcamerror {
	z-index:5;
	font-size:30px;
	color:#fff;
	position:absolute;
	width:300px;
	height:70px;
	bottom:0;
	right:0;
	left:0;
	top:50px;
	margin:auto;
}

#webcam_container input[type="button"] {
	background:#fff;
	border:1px solid #000;
	border-radius:5px;
	font-size:24px;
	margin-top:5px;
	width:150px;
	transition:background 0.2s;
	cursor:pointer;
}

#webcam_container input[type="button"]:hover {
	background:#cff;
}

#webcam_container input[type="button"]:active {
	background:#aff;
}

.content {
	position:relative;
	padding:20px;
	background:#fff;
	width:830px;
	margin:0 auto;
	font-size:18px;
}

.content h1 {
	text-align:center;
	margin-top:8px;
	margin-bottom:30px;
}

select {
	font-size:18px;
	margin-right:-7px;
}

input[type="text"], input[type="password"] {
	border:1px solid black;
	padding:4px;
	font-size:18px;
	width:500px;
}

#send_container {
	text-align:center;
}

#send {
	padding:5px;
	font-size:20px;
	margin-top:5px;
	width:150px;
	vertical-align:center;
}

table td {
	padding:5px 8px;
}

img#eu {
	position:absolute;
	top:10px;
	right:10px;
	width:100px;
}

img#hoegy {
	position:absolute;
	top:90px;
	right:10px;
	width:100px;
}

/** Message **/
#message {
	z-index:10;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	top:0;
	margin:auto;
	width:600px;
	height:200px;
	border-radius:10px;
	padding:40px;
	font-size:30px;
	text-align:center;
	background:rgba(230, 250, 255, 0.98);
	color:#000;
	box-shadow:0 0 13px 0 rgba(0, 0, 0, 1);
}

#message_close {
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	top:190px;
	margin:auto;
	width:130px;
	height:50px;
	font-size:22px;
	background:transparent;
	border:1px solid #222;
	border-radius:4px;
	cursor:pointer;
	transition:background 0.2s;
}

#message_close:hover {
	background:rgba(0, 0, 0, 0.2);
}
