html, body {
	background:#000;
	color:#fff;
	margin:0;
	font-family:Arial;
}

/** Intregrated QRScanJS **/
#webcam_scanner {
	background:#333;
	text-align:center;
}

#webcam {
	display:inline-block;
	float:center;
	max-height:30vh;
	width:50vw;
}

#nowebcam {
	position:absolute;
	right:0;
	left:0;
	top:3vw;
	font-size:4vw;
	margin:auto;
	width:50vw;
}

/** Credentials / User information **/
.card {
	width:70vw;
	max-width:340px;
	margin:auto;
	display:inline-block;
	margin:20px 5px;
	margin-left:5vw;
	padding:20px;
	border:1px solid #555;
	height:90%;
	background:#111;
	text-align:center;
	position:relative;
}

.pass {
	width:75vw;
	max-width:320px;
	height:240px;
	background:#000;
	display:inline-block;
	margin-bottom:20px;
}

.prop_table {
	margin-left:10px;
	font-size:20px;
	text-align:left;
	margin-bottom:20px;
}

.prop_table tr td:first-child {
	width:100px;
	font-weight:bold;
	padding-right:30px;
}

.close {
	position:absolute;
	right:0;
	top:0;
	font-size:30px;
	width:40px;
	height:30px;
	text-align:center;
	line-height:30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background:rgba(255, 150, 150, 0.2);
	color:#000;
	cursor:pointer;
}

.close:hover {
	background:rgba(255, 75, 75, 0.4);
}

.close:active {
	background:rgba(255, 75, 75, 0.9);
}

.notfound {
	font-size:20px;
}

/** Checkin / Checkout button **/
.checkin, .checkout {
	width:95%;
	margin-top:5px;
	height:50px;
	border:1px solid #555;
	border-radius:3px;
	font-size:30px;
	cursor:pointer;
	color:#000;
}

.checkin { background-color:#3a3; }
.checkin:hover { background-color:#0a0; }
.checkin:active { background-color:#0f0; }

.checkout { background-color:#a22; }
.checkout:hover { background-color:#a00; }
.checkout:active { background-color:#f00; }
