[Unit]
Description=SaS NTP Server
After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/ntpd -d -4 -I netbr -c /dev/null 127.127.1.1
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
