/* Anything that could possibly be used in multiple pages was moved to ../common.css */

/* Balance Message Box */
#balance_box {
	z-index:2;
	position:fixed;
	height:10vw;
	width:30vw;
	top:calc(50% - 6vw);
	left:calc(50% - 15vw);
	padding:1vw;
	box-shadow:2px 2px 30px rgba(0, 0, 0, 0.8);
	background-image:-webkit-linear-gradient(top, rgba(220,255,220,0.9), rgba(220,255,225,0.9));
	background-image:-moz-linear-gradient(top, rgba(220,255,220,0.9), rgba(220,255,225,0.9));
	border-radius:5px;
	font-size:2.5vw;
}

#balance_box_ok {
	position:fixed;
	top:calc(50% + 1vw);
	left:calc(50% - 3.5vw);
	background:rgba(0, 0, 0, 0);
	padding:calc(1vw + 1px) calc(3vw + 1px);
	font-size:1.5vw;
	border:1px solid #aaa;
	border-radius:3px;
	cursor:pointer;
}

#balance_box_ok:hover {
	background:#ddd;
}

#balance_box_ok:active {
	padding:1vw 3vw;
	border:2px solid #aaa;
}
