#webcam {
	background-color:#000;
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	width:400px;
	height:300px;
}

#webcam_shot {
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	background:#000;
	width:400px;
	height:300px;
}

#webcam_container {
	display:inline-block;
	position:relative;
	background-color:#999;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

#webcam_container #webcam_heading {
	display:inline-block;
}

#webcam_container #webcam_heading h3 {
	font-size:30px;
	margin:10px 0;
}

#webcam_container input[type="button"] {
	background:#fff;
	border:2px solid #000;
	border-radius:5px;
	font-size:24px;
	margin-top:5px;
	width:150px;
	transition:box-shadow 0.5s;
}

#webcam_container input[type="button"]:hover {
	transition:box-shadow 0.5s;
	box-shadow:0px 0px 10px #7dd;
}

#webcam_container input[type="button"]:active {
	background:#ddd;
}

.content {
	position:relative;
	padding:20px;
	background:rgba(255, 255, 255, 0.85);
	width:830px;
	margin:0 auto;
	font-size:18px;
	margin-bottom:80px;
}

select {
	font-size:18px;
	margin-right:-7px;
}

input[type="text"], input[type="password"] {
	border:1px solid black;
	padding:4px;
	font-size:18px;
	width:500px;
}

#send_container {
	text-align:center;
}

#send {
	padding:5px;
	font-size:20px;
	margin-top:5px;
	width:150px;
	vertical-align:center;
}

table td {
	padding:5px 8px;
}

img#hoegy {
	position:absolute;
	top:10px;
	right:10px;
	width:100px;
}

/* QR Scanner Popup */
#webcam_popup {
	border:4px solid black;
	position:absolute;
	width:400px;
	height:400px;
	top:calc(50% - 200px);
	left:calc(50% - 200px);
	background:#fff;
}

#webcam_popup #webcam_qr {
	max-width:400px;
	max-height:400px;
}

#hgc_preload_enter_value {
	height:16px;
	margin-left:10px;
	width:200px;
	text-align:right;
}

/* Settings bottom bar */
#bottombar {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:rgba(40, 50, 140, 0.5);
	height:40px;
}

#settings_show, #settings_forget {
	background:transparent;
	height:30px;
	position:fixed;
	bottom:5px;
	font-size:16px;
	color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	cursor:pointer;
	transition:background 0.3s;
}

#settings_show:hover, #settings_forget:hover {
	background:rgba(0, 0, 0, 0.3);
	transition:background 0.3s;
}

#settings_show {
	right:220px;
}

#settings_forget {
	right:20px;
}

/* Settings (money preload) popup */
#settings_popup {
	width:700px;
	height:220px;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background:#fff;
	padding:25px;
	border:2px solid #555;
	text-align:center;
	box-shadow:0 0 8px #555;
}

#settings_popup_desc {
	font-size:17px;
	font-style:italic;
}

#settings_popup_heading {
	font-size:30px;
}

#settings_ok {
	width:100px;
	margin:0 auto;
	margin-top:10px;
	font-size:20px;
	padding:4px;
}
